<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<header style="background: #e21338; color: white; padding: 20px; text-align: center;">
  <h1>Kaspi Store</h1>
</header>

<main style = "padding: 20px;">

  <div style="margin-bottom: 20px;">
    <button
      *ngFor="let category of categories"
      (click)="selectCategory(category.id)"
      [class.active]="category.id === selectedCategoryId"
      style="margin-right: 10px; padding: 8px 15px;">
      {{category.name}}

    </button>
  </div>

  <app-product-list
    *ngIf="selectedCategoryId"
    [products]="filteredProducts">

  </app-product-list>

  <p *ngIf="!selectedCategoryId">
    Please select a category
  </p>

</main>
